#welcome {
	position: relative;
	margin: auto;
	width: 70%;
	min-width: 500px;
	padding: 1%;
	/*border: 2px solid violet;*/
}

#game-div {
	top: 10px;
	display: none;
	position: relative;
	border: 1px solid #c0c0c0;
	background-color: #f3f3f3;
	margin: auto;
	width: 50%;
	min-width: 500px;
	min-height: 400px;
	margin: auto;
}

#exit-room-btn {
	position: absolute;
	width: 15%;
	min-width: 50px;
	left: 85%;
}

#room-nr-info {
	padding: 5%;
	position: relative;
	top: 4px;
	font-size: calc(12px + 1.2vw);
}

#guess {
	position: absolute;
	width: 100%;
	top: 10px;
	font-size: 20px;
	letter-spacing: 10px;
	/*border: 2px solid orange;*/
	text-align: center;
}

#attempts {
	position: relative;
	font-size: 20px;
	left:10%;
	top: 50px;
	bottom: 300px;
	/*border: 2px solid orange;*/
}

#online {
	/*border: 2px solid orange;*/
	position: relavite;
	width: 25%;
	margin-left: 25%;
	display: none;
	min-height: 200px;
}

#username {
	margin-top: 5%;
}

#connect-btn {
	position: relative;
	left: 90%;
}

#letters {
	margin-top: 60px;
	width: 47%;
	padding: 10px;
	/*border: 2px solid pink;*/
}

.game-progress {
	border: 1px solid #c0c0c0;
	display: none;
	position: absolute;
	top: 15%;
	left: 50%;
	margin: 2%;
	width: 47%;
	height: 80%;
}

.letter-button {
	position: relative;
	text-align: center;
	width: 10%;
	margin: 5px;
	padding: 3px;
}

.container {
	display: none;
	position: absolute;
	top: 35px;
	left: 5%;
	width: 90%;
	height: 90%;
	margin: auto;
	/*border: 2px solid green;*/
}

.result {
	display: none;
	position: absolute;
	top: 30%;
	left: 10%;
	width: 80%;
	height: 70%;
	margin: auto;
	/*border: 2px solid blue;*/
}

#win-img {
	position: relative;
	/*border: 2px solid purple;*/
	left: calc(50% - 140px);
	height: 75%;
}

#winner {
	position: relative;
	/*border: 2px solid black;*/
	width: 100%;
	height: 20%;
	text-align: center;
	font-size: 30px;
	font-family: 'Chela One';
}

.player {
	display: none;
	/*border: 2px solid orange;*/
	position: absolute;
	font-size: 30px;
	top: 30%;
	left: 10%;
	width: 80%;
	text-align: center;
}