#guess {
	letter-spacing: 10px;
}

#welcome {
	position: relative;
	margin: auto;
	width: 30%;
	padding: 5px;
}

#letters {
	width: 280px;
	padding: 10px;
	margin: 10px;
}

.game-progress {
	position: relative;
	width: 30%;
	display: none;
	margin: auto;
	padding: 10px;
}

.letter-button {
	padding: 3px;
	text-align: center;
	width: 30px;
	margin: 5px;
}

.container {
	position: relative;
	width: 30%;
	display: none;
	margin: auto;
	padding: 10px;
}