#game-div {
	display: none;
	position: relative;
	border: 2px solid red;
	margin: auto;
	width: 50%;
	min-height: 400px;
}

.lobby{
	display: none;
	position: relative;
	border: 2px solid red;
	margin: auto;
	width: 50%;
	min-height: 400px;
}

#exit-room-btn {
	position: absolute;
	width: 15%;
	
	left: 85%;
}

#guess {
	letter-spacing: 10px;
}

#welcome {
	position: relative;
	margin: auto;
	width: 30%;
	padding: 5px;
}

#letters {
	width: 47%;
	padding: 10px;
	margin: 2%;
	border: 2px solid pink;
}

.game-progress {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 2%;
	width: 47%;
	height: 95%;
}

.letter-button {
	padding: 3px;
	text-align: center;
	width: 30px;
	margin: 5px;
}

/* .btn-room{
	width:49%;
    height:50%;
    font-size:4vw;
}*/
.container {
	display: none;
	position: absolute;
	top: 35px;
	left: 10%;
	width: 80%;
	height: 90%;
	margin: auto;
	border: 2px solid green;
}