.lobby {
	display: none;
	width: 50%;
	min-width: 500px;
	height: 400px;
	position: relative;
	top: 10px;
	margin: auto;
	background-color: #f3f3f3;
	border: 1px solid #c0c0c0;
}

.btn-room {
	width: 49%;
	margin-top: 70px;
	margin-left: 0.5%;
	font-size: 40px;
}

#exit-room-btn {
	width: 15%;
	min-width: 50px;
	position: absolute;
	left: 85%;
}

#room-nr-info {
	position: relative;
	top: 4px;
	padding: 5%;
	font-size: calc(12px + 1.2vw);
}