#score {
	top: 398px;
	/*border: 2px solid blue;*/
	position: absolute;
	width: 50%;
	margin-left: 50%;
	height: 200px;
}

#scoreboard-info {
	position: absolute;
	width: 100%;
	font-size: 30px;
	text-align: center;
	top: 5%;
}

#score-table {
	width: 90%;
	border-collapse: collapse;
	margin-top: 25%;
	margin-left: 5%;
	/*border: 2px solid red;*/
}

#score-table td {
	/*border: 2px solid green;*/
	padding-bottom: 10px;
}

#scores {
	text-align: right;
}