#scoreboard-div {
	width: 50%;
	height: 200px;
	position: absolute;
	top: 398px;
	left: 50%;
}

#scoreboard-info {
	width: 100%;
	position: absolute;
	top: 5%;
	font-size: 30px;
	text-align: center;
}

#score-table {
	width: 90%;
	border-collapse: collapse;
	margin-top: 25%;
	margin-left: 5%;
}

#score-table td {
	padding-bottom: 10px;
}

#scores {
	text-align: right;
}